@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;    // clears both float left and float right
    }
}

@mixin center-horizontal-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}